html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html, body { height: 100%; }

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background: #eee url('../images/pattern.png') repeat fixed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    color: #4aaaa5;
}

h1 {
    font-size: 1.8em;
    padding-bottom: 15px;
    border-bottom: 3px solid #dddddd;
    margin-bottom: 20px;
    line-height: 1.9em;
}

h2 {
    font-size: 1.4em;
    padding-bottom: 15px;
    border-bottom: 2px solid #dddddd;
    margin-bottom: 20px;
    line-height: 1.4em;
}

em {
    font-style: italic;
}

.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}

nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background: #fff;
    border-bottom: 2px solid #cccccc;
}

nav .wrapper {
    width: 960px;
    margin: 0 auto;
}

nav #logo {
    float: left;
    background: #4aaaa5;
    color: #fff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 1.8em;
    line-height: 85px;
    padding: 0 30px;
    text-decoration: none !important;
}

nav .folio-tabs {
    float: right;
    line-height: 85px;
}

nav .folio-tabs a {
    display: inline;
    padding: 0 15px;
    border-right: 1px solid #eee;
    text-decoration: none !important;
    color: inherit !important;
}

nav .folio-tabs a:last-child {
    padding-right: 0;
    border: none;
}

.main {
    position: relative;
    width: 960px;
    margin: 130px auto -85px auto;
    min-height: 100%;
}

.main .bio {
    padding: 30px;
    background: #fff;
    width: 68%;
    float: left;
    border: 1px solid #dddddd;
}

.main .bio p {
    line-height: 190%;
    font-size: 18px;
}

.main .bio p img {
    float: left;
    width: 150px;
    height: 150px;
    margin: 9px 20px 0 0;
}

.main .side-panel {
    padding: 30px;
    width: 28%;
    background: #fff;
    float: left;
    margin-left: 4%;
    border: 1px solid #dddddd;
}

.main .side-panel a {
    text-decoration: none;
}

.main .side-panel a:last-child {
    margin-left: 2px;
}

.main .side-panel a img {
    width: 64px;
    opacity: 0.8;
}

.main .side-panel #stupidpic img {
    position: relative;
    width: 58px;
    top: -3px;
}

.push {
    height: 145px;
    clear: both;
}

footer {
    text-align: center;
    background: #666;
    width: 100%;
    height: 85px;
    border-top: 8px solid #4aaaa5;
}

footer span {
    display: block;
    padding-top: 25px;
    font-size: 75%;
    color: #dddddd;
}

/* Contact */

input, textarea {
    width: 100%;
    font-size: 14px;
    border: 1px solid #dddddd;
    padding: 10px;
    color: #777;
    margin-bottom: 15px;
}

.main .bio p .button {
    margin-top: 5px;
    display: inline-block;
    padding: 3px 30px;
    background: #4faba5;
    color: #fff;
    text-decoration: none;
}

/* Portfolio */

.main .bio .row {
    margin-bottom: 30px;
}

.main .bio .row:first-of-type {
    margin-top: 30px;
}

.main .bio .row .port-cell {
    position: relative;
    display: block;
    float: left;
    width: 280px;
    height: 200px;
    background: #ddd;
    margin-right: 28px;
    text-decoration: none;
    overflow: hidden;
}

.main .bio .row .port-cell:last-of-type {
    margin-right: 0 !important;
}

.port-cell span {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 2;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #4faba5;
    color: #fff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 130%;
}

.port-cell img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}

/* Animations */

#logo:hover,
#logo:active,
#logo:focus,
.main .bio p .button:hover, 
.main .bio p .button:active {
    background: #489c97;
}

nav .folio-tabs a:hover, 
nav .folio-tabs a:active, 
nav .folio-tabs a:focus {
    color: #4faba5 !important;
}

.main .side-panel a img:hover, 
.main .side-panel a img:active, 
.main .side-panel a img:focus {
    opacity: 1;
}

.port-cell span {
    transition: ease-in-out 0.15s;
}

.port-cell:hover span {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
}

.port-cell img {
    transition: ease-in-out 0.15s;
}

.port-cell:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

/* Media Queries */

@media screen and (max-width: 980px) {

    nav .wrapper, .main {
        width: 750px;
    }

    .main .bio {
        width: 61%;
    }

    .main .side-panel {
        width: 35%;
    }

    .main .bio p img {
        float: none;
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {

    nav .wrapper, .main {
        width: 710px;
    }

    .main .bio {
        float: none;
        width: 100%;
        margin-bottom: 45px;
    }

    .main .side-panel {
        width: 100%;
        margin-left: 0%;
    }

    .main .bio p img {
        float: left;
        width: 250px;
        height: auto;
    }
}

@media screen and (max-width: 640px) {

    nav {
        position: static;
    }

    .main {
        margin-top: 45px;
    }
}

